---
import "../styles/global.css";
import config from "../../config.json";
import referenciasRessurecionais from "../data/hinos-referencia.json";
import troparios from "../data/troparios.json";
import kontakia from "../data/kondakions.json";
import prokimenos from "../data/prokimenos.json";
import versos from "../data/versos.json";
import versosComunhao from "../data/versos-comunhao.json";

let previousTom = config.tom;

const entrada = [
  ...config.troparios_ids.map((id) => {
    const t = troparios[id];
    if (!t) throw new Error(`Tropário inválido: ${id}`);

    const showRef =
      t.titulo != "Ressurrecional" &&
      t.tom !== previousTom;
    previousTom = t.tom;

    return {
      tipo: "tropario",
      showRef,
      ...t
    };
  }),

  ...config.kontakions_ids.map((id) => {
    const k = kontakia[id];
    if (!k) throw new Error(`Kondákio inválido: ${id}`);

    const showRef = k.tom !== previousTom;
    previousTom = k.tom;

    return {
      tipo: "kondakion",
      showRef,
      ...k
    };
  })
];

const kontakiaIndices = entrada
  .map((item, idx) => ({ item, idx }))
  .filter(({ item }) => item.tipo === "kondakion");

const penultimoKondakion =
  kontakiaIndices.length >= 2
    ? kontakiaIndices[kontakiaIndices.length - 2].idx
    : null;

const ultimoKondakion =
  kontakiaIndices.length
    ? kontakiaIndices[kontakiaIndices.length - 1].idx
    : null;

const prokimeno1 = prokimenos[config.prokimeno1_id];
const prokimeno2 = config.prokimeno2_id
  ? prokimenos[config.prokimeno2_id]
  : null;

const prokimenoVerso = versos[config.prokimeno_verso_id];

const aleluia1 = versos[config.aleluia1.id];
const aleluia2 = versos[config.aleluia2.id];
const aleluia3 = versos[config.aleluia3.id];

const versoComunhao = versosComunhao[config.versos_comunhao_id];
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/slujba/favicon.jpg" />
    <title>Slujba</title>
  </head>

  <body class="print:!bg-white print:!text-black">
    <header class="header print:hidden">
      <div class="max-w-3xl mx-auto px-6 py-3 flex justify-between items-center text-[11px]">
        <a class="
          hidden md:inline
          select-none outline-none
          text-red-500 hover:text-amber-500 transition
          " onclick="window.print()">&#128438; Imprimir
        </a>
        <a class="
          md:hidden inline
          select-none outline-none
          text-red-500 hover:text-amber-500 transition
          " onclick="window.print()">&DownArrowBar; Salvar PDF
        </a>
        <a class="
          select-none outline-none
          text-red-500 hover:text-amber-500 transition
          " href="/slujba/busca">Pesquisar Tropários e Kondákios ➜
        </a>
      </div>
    </header>

    <main class="max-w-3xl mx-auto px-6 py-5 print:p-3 print:text-xs">

      <div class="text-center">
        <h1 class="font-bold text-lg print:text-sm">{config.titulo}</h1>
        <h2 class="!font-bold">Tom {config.tom}</h1>
      </div>

      <!-- Tropários e Kondákions -->
      <section>
        <h2 class="!font-bold pt-3 border-b md:border-0">Tropários e Kondákios</h2>

        {entrada.map((item, idx) => (
          <div>

            {item.tipo === "tropario" && (
              <>
                <p class="text-center italic text-(--primary) pt-3">
                  Tropário {item.titulo} — Tom {item.tom}
                </p>

                {item.showRef && (
                  <p class="text-center text-xs print:text-[9px] italic text-(--detail)">
                    {referenciasRessurecionais[item.tom]}
                  </p>
                )}

                <p class="text-justify">{item.versos}</p>
              </>
            )}

            {item.tipo === "kondakion" && (
              <>
                {idx === penultimoKondakion && (
                  <div class="my-4 h-px w-10 bg-amber-500/30 mx-auto md:mx-0 print:hidden"></div>
                    <h2 class="text-(--primary) text-center md:text-justify print:pt-3">
                      Glória ao Pai e ao Filho e ao Espírito Santo.
                    </h2>
                  <div class="mt-4 h-px w-10 bg-amber-500/30 mx-auto md:mx-0 print:hidden"></div>
                )}

                {idx === ultimoKondakion && (
                  <div class="my-4 h-px w-10 bg-amber-500/30 mx-auto md:mx-0 print:hidden"></div>
                    <h2 class="text-(--primary) text-center md:text-justify print:pt-3">
                      E agora e sempre e pelos séculos dos séculos. Amém.
                    </h2>
                  <div class="mt-4 h-px w-10 bg-amber-500/30 mx-auto md:mx-0 print:hidden"></div>
                )}

                <p class="text-center italic text-(--primary) pt-3">
                  Kondákio {item.titulo} — Tom {item.tom}
                </p>

                {item.showRef && (
                  <p class="text-center text-xs print:text-[9px] italic text-(--detail)">
                    {referenciasRessurecionais[item.tom]}
                  </p>
                )}

                <p class="text-justify">{item.versos}</p>
              </>
            )}

          </div>
        ))}
      </section>

      <!-- Prokímenos -->
      <section>
        <h2 class="!font-bold pt-7 print:pt-3 border-b md:border-0">Prokímeno</h2>

        <p class="mt-3 md:mt-0"><i class="text-(--primary)">Tom {prokimeno1.tom}:</i>
          {prokimeno1.versos["1"]} / {prokimeno1.versos["2"]} <i class="ref">{prokimeno1.ref}</i>
        </p>

        <p class="my-1">{prokimenoVerso.verso} <i class="ref">{prokimenoVerso.ref}</i></p>

        {prokimeno2 && (
        <p><i class="text-(--primary)">Tom {prokimeno2.tom}:</i>
          {prokimeno2.versos["1"]} / {prokimeno2.versos["2"]} <i class="ref">{prokimeno2.ref}</i>
        </p>
        )}
      </section>

      <!-- Aleluia -->
      <section>
        <h2 class="!font-bold pt-3 border-b md:border-0">Aleluia</h2>

        <p class="mt-3 md:mt-0">
          <i class="text-(--primary)">Tom {config.aleluia1.tom}:</i>
          {aleluia1.verso} <i class="ref"> {aleluia1.ref}</i>
        </p>

        <p class="my-1">{aleluia2.verso} <i class="ref"> {aleluia2.ref}</i></p>

        <p>
          {config.aleluia3.tom != config.aleluia1.tom && (<i class="text-(--primary)">Tom {config.aleluia3.tom}:</i>)}
          {aleluia3.verso} <i class="ref"> {aleluia3.ref}
        </p>
      </section>

      <!-- Verso da Comunhão -->
      <section>
        <h2 class="!font-bold pt-7 print:pt-3 border-b md:border-0">Verso da Comunhão</h2>
        <p class="mt-3 md:mt-0">{versoComunhao}</p>
      </section>

    </main>
  </body>
</html>
